* {
    padding: 0;
    margin: 0;
}

body {
    width: 99%;
    height: 97%;
    background-image: url(images/3353944.jpg);
    /* background-color: black; */
    background-size: cover;
    opa
}

.top {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 0px 40px;
    width: 100%;
}

.logo {
    font-size: 30px;
    color: black;
    font-weight: bolder;
}
.logo:hover{
    cursor: pointer;
}

.nav {
    position: relative;
    left: -180px;
}

 .nav a{
    padding: 5px 15px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

 .nav a:hover {
    color: blue;
    text-decoration: underline;
    text-underline-position: under;
}

.search {
    font-size: 25px;
    margin-right: 40px;
}

.search i {
    padding: 5px 20px;
}

/* *********************************************************nav bar css done******************************************************* */
.heading {
    display: flex;
    color: white;
    font-weight: bolder;
    justify-content: space-evenly;
    padding: 65px;
    align-items: center;
}

.right {
    width: 440px;
    height: 440px;
    background-image: url(https://media.istockphoto.com/id/1190330112/photo/fried-pork-and-vegetables-on-white-background.jpg?s=612x612&w=0&k=20&c=TzvLLGGvPAmxhKJ6fz91UGek-zLNNCh4iq7MVWLnFwo=);
    background-size: cover;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right::before {
    width: 430px;
    height: 430px;
    border: 2px solid white;
    position: absolute;
    border-radius: 430px;
    padding: 10px;
}

.left p:nth-child(1) {
    color: whitesmoke;
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
}

.left h2 {
    font-size: 90px;
}

.left p:nth-child(3) {
    color: whitesmoke;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

.menu-btn{
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    background-color:blue;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin-left: 30%;
}

.menu-btn:hover {
    background-color:black;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.socialmedia {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 200px;
    background-color:darkseagreen;
    color: white;
    font-size: 25px;
}

.socialmedia i:hover {
    color: blue;
}
.footer{
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 50px;
}
.ftr li{
    text-decoration: none;
}
h4{
    margin-left: 20px;
    font-size: 25px;
    text-decoration: underline;
}
.about{
    display: flex;
    flex-direction: column;
    align-items:last baseline
    padding-left: 0;
}